* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    height: 70px;
    background-color: #8ECDDD;
}

.link{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
}

h3 {
    position: relative;
}

.link p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: -15px;
    right: -20px;
    width: 23px;
    height: 23px;
    color: #fff;
    border-radius: 50%;
    background-color: blue;
}

.link:last-child {
    margin-right: 23px;
}